[Unit]
Description=Event Manager Backend Service

[Service]
ExecStart=/usr/bin/python3 app.py
WorkingDirectory=/home/user/welcome-center-tv/backend
Restart=always

[Install]
WantedBy=multi-user.target
