[Unit]
Description=Event Manager Frontend Service

[Service]
ExecStart=npx serve -s build -l 80
WorkingDirectory=/ds_storage/ChurchTvControl/frontend
Restart=always
Environment=PATH=/usr/bin

[Install]
WantedBy=multi-user.target
